msfiles=automgroup,automlist,autom,data,intro,treeautgrp,manual,allsyms;
gdfiles=automaton,automfam,autom,automgroup,listops,rws,scilab,selfs,
        treehom,treehomsg,treeaut,treeautgrp,tree,utilsfrgrp,
        utils,utilsratfun,globals.g,
        automaton.gi,automfam.gi,autom.gi,automgroup.gi,listops.gi,rws.gi,scilab.gi,
        selfs.gi,treehom.gi,treeaut.gi,treeautgrp.gi,
        tree.gi,utilsfrgrp.gi,utils.gi,utilsratfun.gi;
LIB=../gap;
DIR=.;
check;
pkgversion=0.91
