msfiles=groups,autom,misc,intro,elements,manual;
gdfiles=automaton,automfam,autom,automgroup,automsg,listops,rws,scilab,selfs,
        selfsim,selfsimfam,selfsimgroup,selfsimsg,
        treehom,treehomsg,treeaut,treeautgrp,tree,
        utils,rws,convertersfr,globals.g,groups.g,
        automaton.gi,automfam.gi,autom.gi,automgroup.gi,automsg.gi,
        listops.gi,rws.gi,scilab.gi,
        selfs.gi,selfsim.gi,selfsimfam.gi,selfsimgroup.gi,selfsimsg.gi,
        treehom.gi,treehomsg.gi,treeaut.gi,treeautgrp.gi,
        tree.gi,rws.gi,utilsfrgrp.gi,utils.gi,convertersfr.gi;
LIB=../gap;
DIR=.;
check;
pkgversion=1.3.2
